ul {
    display: block;
    list-style-type: none;
    margin: 20px;
    cursor: pointer;
    text-decoration: none;
    color: blue;
}
.thiscontainer{
    border: 1px solid gray;
    height: 90vh;
    overflow-y: scroll;
}

.flexDiv{
    display: flex;
}

.flexDiv > div {
  /* flex: 1 1 auto; */
  text-align: center;
  margin: 5px;  /* and that, will result in a 10px gap */
}

.warnText{
  color: red;
  cursor: auto;
  list-style: disc;
}

.SuccessText{
  color:green;
  cursor: auto;
  list-style: disc;
}

.errListContainer{
  overflow-y: auto;
  max-height:20vh;
  margin-bottom: 8px;
}
